/* p here is a selector that matches all <p> elements */
/* Element Selector - specify an element */
p {
    color: hsl(hue, saturation, lightness);
    font-size: 10pt;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
}

label {
    color: rgb(77, 213, 213);
}



/* A selector is a pattern that matches elements in a document. */

/* id selector */
/* id matchs single element only!  */
#firstname {
    background-color: chocolate;
}



div.center {
    /* specificity is 0,1,1 */
}


/* attribute selector */
input[type="submit"] {
    background-color: red;
}

/* pseudo states - hover, etc */
input[type="submit"]:hover {
    background-color: blueviolet;
    cursor: pointer;
}